<!DOCTYPE html>
<html lang="en">
<head>
  <title>RPR Centro de Servicio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="./../resources/qrcode.min.js"></script>
  <script src="./../resources/html2canvas.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  </head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://serviciorprcentral.github.io">RPR CS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              QR-Code Generation
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://serviciorprcentral.github.io/qr-code/single">Single</a></li>
              <li><a class="dropdown-item active" href="https://serviciorprcentral.github.io/qr-code/bulk">Bulk</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container my-4">
    <h1 class="mb-4">Bulk QR-Codes Generator</h1>
    <div id="app">
      <div class="card text-center mb-3">
        <div class="card-header">
          URLs
        </div>
        <div class="card-body">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <div  v-for="(url, index) in urls" :key="'tabKey-' + index">
                <button class="nav-link" data-bs-toggle="tab" :data-bs-target="'#urlTabContent-' + index" type="button" role="tab">
                  <span v-if="isDuplicate(index)">
                    <i class="bi bi-exclamation-triangle-fill text-warning"></i>
                  </span>
                  <span v-else-if="urlValidation(url) == true">
                    <i class="bi bi-check-circle-fill text-success"></i>
                  </span>
                  <span v-else-if="urlValidation(url) == false">
                    <i class="bi bi-x-circle-fill text-danger"></i>
                  </span>
                  <span v-else>{{ index + 1 }}</span>
                </button>
              </div>
          </div>
          <div class="tab-content mt-3" id="nav-tabContent">
            <div v-for="(url, index) in urls" :key="'tabKeyContent-' + index" class="tab-pane fade" :id="'urlTabContent-' + index" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div class="input-group">
                <span class="input-group-text">URL</span>
                <input class="form-control" v-model.trim="urls[index]" class="form-control" type="text" :id="'link-'+index" placeholder="https://rainbowsystem.com" :class="urlValidation(url) == true ? isDuplicate(index) ? 'is-invalid' : 'is-valid' : (urlValidation(url) == false) ? 'is-invalid' : ''" required>
                <div class="invalid-feedback">
                  Not a correct URL or already in list.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <div class="progress" role="progressbar" :aria-valuenow="urlCompletion" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" :class="areThereAnyDuplicates ? 'bg-warning text-dark' : ''" :style="'width: '+ urlCompletion +'%'">{{ urlCompletion }} %</div>
        </div>
        <button @click="generate" type="button" class="btn" :class="canCreateQrCodesSheet == true ? 'btn-success' : canCreateQrCodesSheet == false ? 'btn-danger' : 'btn-secondary'" :disabled="!canCreateQrCodesSheet || areThereAnyDuplicates">
          <template v-if="canCreateQrCodesSheet"><i class="bi bi-check-circle-fill" /> Generate</template>
          <template v-else-if="canCreateQrCodesSheet == false || areThereAnyDuplicates"><i class="bi bi-exclamation-triangle-fill" /> Invalid</template>
          <template v-else>Pending</template>
        </button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#clearModal">Clear</button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#singleUpload">Copy & Paste - Google Drive</button>
      </div>
      <div class="modal fade" id="qrCodeModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">QR Codes Generated!</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="d-grid gap-2 col-6 mx-auto mt-3">
                <button @click="download" class="btn btn-primary">
                  <i class="bi bi-download"></i> Download
                </button>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto mt-3">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <i class="bi bi-eye-fill"></i> View QR Codes
                </button>
              </div>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div id="qrcode"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="clearModal" tabindex="-1" aria-labelledby="clearModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row text-center">
                <div class="col">
                  <h5>Are you sure you want to clear all the URLs?</h5>
                </div>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-success" @click="clear" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="singleUpload" tabindex="-1" aria-labelledby="singleUpload" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">COPY & PASTE - Google Drive</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="copyPasteField" class="form-label">Enter Google Drive links:</label>
                <textarea class="form-control" id="copyPasteField" rows="3" v-model.trim="copyPasteField"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" @click="processCopyAndPaste" data-bs-dismiss="modal">Process data</button>
              <button type="button" class="btn btn-danger" @click="copyPasteField = ''" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  <script type="module">
    import { createApp } from 'vue'

    createApp({
      data() {
        return {
          copyPasteField: '',
          downloadModal: null,
          urls: Array(35).fill(''),
          areThereAnyDuplicates: false
        }
      },
      computed : {
        canCreateQrCodesSheet() {
          if(this.areThereAnyDuplicates)
            return false
          var checkValidation = true
          for(let i = 0; i < this.urls.length; i++)
            if (this.urls[i].length == 0)
              return checkValidation = null
            else if(!this.urlValidation(this.urls[i]))
              return false
          return checkValidation
        },
        urlCompletion () {
          var goodCount = 0
          for(let i = 0; i < this.urls.length; i++)
            if(this.urlValidation(this.urls[i]))
              goodCount++
          return ((goodCount / this.urls.length) * 100).toFixed(2)
        }
      },
      mounted () {
        this.downloadModal = new bootstrap.Modal(document.getElementById('qrCodeModal'))
      },
      methods: {
        urlValidation(url) {
          return url.trim().length === 0 ? null : /[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/.test(url)
        },
        isDuplicate(index){
          var currentUrlToTest = this.urls[index]
          if(currentUrlToTest.length === 0)
            return false
          for(let i = 0; i < this.urls.length; i++)
            if (this.urls[i] == currentUrlToTest && i != index){
              this.areThereAnyDuplicates = true
              return true
            }
          this.areThereAnyDuplicates = false
          return false
        },
        generate() {
          if (this.canCreateQrCodesSheet) {
            this.emptyQrCodeSection()
            this.downloadModal.show()
            this.paintQrCodesFromList()
          }
        },
        download() {
          var container = document.getElementById("qrcode");
          var pdf = new jspdf.jsPDF();
          let spaceCounter = 0;
          let columnCounter = 0;
          let rowSpacer = 0;
          $('#qrcode').children('img').each(function (index) {
            if (columnCounter == 5){
                columnCounter = 0;
                spaceCounter = 0;
                rowSpacer += 40;
            }
            pdf.addImage($(this).attr('src'), 'png', 5.5 + spaceCounter, 7 + rowSpacer, 38, 38);
            spaceCounter += 40;
            columnCounter++;
          })

          pdf.setFontSize(9.5);
          for (let i = 0; i < 7; i++){
            pdf.text('' + (i * 5 + 1), 1, 27 + (i * 41));
            pdf.text('' + ((i + 1) * 5), 204.5, 27 + (i * 41));
          }

          pdf.save("qr-codes-batch.pdf");
          this.downloadModal.hide()
          this.emptyQrCodeSection()
        },
        clear() {
          this.urls = Array(35).fill('')
          this.areThereAnyDuplicates = false
          this.emptyQrCodeSection()
        },
        emptyQrCodeSection () {
          $('#qrcode').empty()
        },
        paintQrCodesFromList () {
          this.emptyQrCodeSection()
          for (let i = 0; i < this.urls.length; i++)
            new QRCode(document.getElementById("qrcode"), {
              text: this.urls[i],
              width: 400,
              height: 400,
              colorDark : "#000000",
              colorLight : "#ffffff",
              correctLevel : QRCode.CorrectLevel.H
            });
        },
        processCopyAndPaste() {
          this.urls = this.copyPasteField.split(",")
        }
      } 
    }).mount('#app')
  </script>
  </div>
</body>
